{% extends 'base2.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3><img src="https://i.servimg.com/u/f49/19/79/70/21/tm/lsspd10.png" style="max-width: 120px; max-height:120px;"></h3>
          
        </div>
      </div>
     <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">INTRANET LSPD</h1>
    <label for="inputUsername">Nom D'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
    </form>
    </div>
  </div>
{% endblock %}
